.container-fluid {
  z-index: 100;
  position: relative;
}

/* Semi-transparent header that hovers over map */
#sticky-nav {
    z-index: 100;
    background-color: RGBA(256, 256, 256, 0.7);
}

/* Align the Site Name and Mobile Menu button */
.navbar-brand {
    font-weight: 600;
    font-size: 1rem;
    margin: 0.75rem 0;
}

.navbar-toggler {
    float: right;
    margin: 0.5rem 0;
    background-color: white;
}

/*Set the map dimensions*/
#map {
   width: 100%;
   height: 100vh;
   margin: auto 0;
   background-color: grey;
   z-index: 0;
}

/*Google Map infowindow CSS*/
#info-window {
    padding: 20px;
    width: 260px;
    z-index: 200;
}

#info-window a {
    color: RGBA(77, 180, 248, 1.00);
    text-decoration: none;
}

#info-window p {
    font-size: 1rem;
    font-weight: 300;
}

#info-window .label {
    background-color: RGBA(77, 180, 248, 1.00);
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*Mobile Menu*/
.menu,
.buttons {
    padding: 20px;
    text-align: center;
}

.form-control {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.list-group-item {
    margin: 0 auto;
    padding: 0.5rem;
}

.marker-button {
    margin: 0 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }

    .form-control,
    .list-group-item {
        width: 30vw;
    }

    #info-window {
        width: 500px;
    }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }

    .form-control,
    .list-group-item {
        width: 30vw;
    }

    #info-window {
        width: 500px;
    }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }
    .form-control,
    .list-group-item {
        width: 30vw;
    }

    #info-window {
        width: 500px;
    }
}
