#map {
   width: 100%;
   height: 90vh;
   background-color: grey;
}

#infoWindow {
    padding: 20px;
    width: 400px;
}

.menu,
.buttons {
    padding: 20px;
    text-align: center;
}

.form-control {
    margin-bottom: 2rem;}

// Extra small devices (portrait phones, less than 544px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }