/* Semi-transparent header that hovers over map */
#stickyNav {
    z-index: 100;
    background-color: RGBA(256, 256, 256, 0.7);
}
/* Align the Site Name and Mobile Menu button */
.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.5rem;
}
.navbar-toggler {
    margin: 0.5rem 0;
    background-color: white;
}
/* Make map occupy fullsize of viewport window */
#fullScreenMap {
    position: absolute;
    top: 0;
    left: 0;
}

/*Set the map dimensions*/
#map {
   width: 100vw;
   height: 100vh;
   background-color: grey;
}

/*Google Map infowindow CSS*/
#infoWindow {
    padding: 20px;
    width: 400px;
    z-index: 200;
}
#infoWindow a {
    color: RGBA(77, 180, 248, 1.00);
    text-decoration: none;
}
#infoWindow .label {
    background-color: RGBA(77, 180, 248, 1.00);
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#infoWindow p {
    font-size: 1rem;
    font-weight: 300;
}
/*Mobile Menu*/
.menu,
.buttons {
    padding: 20px;
    text-align: center;
}

.form-control {
    margin: 0 auto;
    margin-bottom: 2rem;
}

.list-group-item {
    margin: 0 auto;
    padding: 0.5rem;
}

.marker-button {
    margin: 0 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }
    .form-control,
    .list-group-item {
        width: 30vw;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }
    .form-control,
    .list-group-item {
        width: 30vw;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 1.75rem;
        margin: 0.25rem;
    }
    .form-control,
    .list-group-item {
        width: 30vw;
    }
}
